body {
	background: #dddddd;
	font-family: Allerta, Helvetica, Arial;
	margin: 0 0 0 0;
}

#content {
  width: 50%;
  margin: 0 auto 0 auto;
  background: #eeeeee;
  padding: 0em 2em 0.1em 2em;
  text-align: center;
}

input {
  font-size: 1.4em;
  padding: 0.5em;
  margin: 0 0 0 0;
}

.textbox {
	width: 100%;
}

.answers {
	margin-bottom: 1em;
}

.answer {
	font-size: 1.4em;
	font-weight: bold;
	margin-right: 1em;
}

.controls {
	margin-top: 1em;
}

.btn {
	background: #bbbbbb;
	padding: 0.5em 0.7em 0.5em 0.7em;
	border: 0px;
	font-weight: bold;
	cursor: pointer;
	margin: 0 0 0 0;
	width: 40%;
}

.btn-primary {
	background: green;
	color: white;
}

.happy {
	color: green;
}

.sad {
	color: red;
}