.attempt
  font-weight 700

.correct
  color lightness($color--success, 40%)

.wrong
  color lightness($color--error, 40%)

.preview
  color lightness($color--blue, 40%)
  font-weight 800

.output
  border 1px solid rgba($color--grey, 0.25)
  background rgba($color--grey, 0.03)
  padding 1em
  margin-bottom 1em
  min-height 1em
  box-sizing content-box
  text-align center

  span
    margin-right 1em

.bottom-margin
  margin-bottom 1em
