.attempt
  font-weight 700

.correct
  color lightness($color--success, 40%)
  animation vibrate 0.9s linear 5
  display inline-block

.wrong
  color lightness($color--error, 40%)
  animation jello-horizontal 0.9s linear 1
  display inline-block

.preview
  color lightness($color--blue, 40%)
  font-weight 800

.output
  border 1px solid rgba($color--grey, 0.25)
  background rgba($color--grey, 0.03)
  padding 0.8em
  margin-bottom 0.8em
  min-height 1.5em
  font-size 0.8em
  +width-min($mq--desktop)
    padding 1em
    margin-bottom 1em
    font-size 1em
  box-sizing content-box
  text-align center

  span
    margin-right 1em

.bottom-margin
  margin-bottom 1em

@keyframes jello-horizontal {
  0% {
            transform: scale3d(1, 1, 1);
  }
  30% {
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
            transform: scale3d(1, 1, 1);
  }
}

@keyframes vibrate {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-2px, 2px);
  }
  40% {
    transform: translate(-2px, -2px);
  }
  60% {
    transform: translate(2px, 2px);
  }
  80% {
    transform: translate(2px, -2px);
  }
  100% {
    transform: translate(0);
  }
}
