nav
  ul
    li.style-guide-nav__root
      a(href='/style-guide/') Style Guide
      li
        a(href='/style-guide/homework-helper') Homework Helper
        p Custom site styles.
    li
      a(href='/style-guide/branding') Branding
      p Colour swatches and meta icons.
    li
      a(href='/style-guide/typography') Typography
      p Showcases the projects defined styles.
    li
      a(href='/style-guide/font-samples') Font Samples
      p All project fonts, showcased in multiple sizes and styles.
    li
      a(href='/style-guide/buttons') Buttons
      p Buttons, with base modifiers
    li
      a(href='/style-guide/controls') Controls
      p Basic form controls, without any surrounding markup.
    li
      a(href='/style-guide/forms') Forms
      p Form fields in various combinations, with example template forms.
    li
      a(href='/style-guide/components') Components
      p An aggregated list of all base components added to the project.
    li
      a(href='/style-guide/image-ratios') Image Ratios
      p Examples of all image ratios defined in the project.
    li
      a(href='/style-guide/advertising') Advertising
      p Examples of all advert sizes used in the project.
    li
      a(href='/style-guide/template-variables') Template Variables
      p Examples usage for variables and functions for formatting data.
