script(async, src="https://www.googletagmanager.com/gtag/js?id=UA-68146899-1")
script.
  window.dataLayer = window.dataLayer || []
  function gtag(){dataLayer.push(arguments)}
  gtag('js', new Date())
  gtag('config', 'UA-68146899-1')
  window.track = function () { gtag('config', 'UA-68146899-1') }
  window.trackEvent = function (action, category, label, value) {
    gtag('event', action , {
      'event_category': category,
      'event_label': label,
      'value': value
    })
  }
