#content
  h1 Spellings
  #js-output.answers
  form
    input.textbox(type='text', name='answer', autocomplete='off', autocorrect='off', autocapitalize='off')
    br
    .controls
      input.btn(type='button', name='repeat', value='Say Again')
      input.btn.btn-primary(type='submit', name='submit', value='Submit')
