#content
  .desktop-one-half.content-center
    form.js-form.bottom-margin
      h2.h4.dragon {{model.description}}
      .progress-bar.js-progress.dragon Spelling {{model.current}} / {{model.total}} - Mistakes: {{model.mistakes}}
      .output
        .js-word.preview
      .field
        .field__answer
          input.control.control--text.js-answer(type='text', name='answer', autocomplete='off', autocorrect='off', autocapitalize='off', spellcheck='false')

      .button-group.centered
        button.button.button--primary(type='submit', autofocus) Submit
        button.button.js-btn-repeat(type='button') Say Again
    .js-output.output
    .js-end.is-hidden
      .js-no-mistakes.is-hidden.video-wrapper.bottom-margin
        iframe(width='100%', height='480', src='', frameborder='0', allowfullscreen,  allow='autoplay; encrypted-media')
      .js-mistakes.is-hidden
        img.bottom-margin(src='/assets/img/content/cat.jpg')

      .button-group.centered
        a.button.button--primary(href='/spellings/' + model.get('_id')) Play Again
        a.button(href='/spellings') More Spellings
