#content
  .desktop-one-half.content-center
    h2.h4.dragon {{model.description}}
    .output.js-spellings
      each spelling in model.getSpellingList()
        span.preview #{spelling} 

    p You will be tested on #{model.get('total')} spellings.

    .button-group.centered
      button.button.button--primary.mobile-one-whole.js-btn-start Start
