#content
  .desktop-one-half.content-center
    h2.h2 Unsupported Browser
    p This site uses super new browser technology, but you're using outdated tech.
      | You really should consider upgrading to a modern browser. Chrome is good,
      | iOS 7+ on a iPhone or iPad or a new version of mobile chrome on Andriod should be fine.
    p Until you have sorted yourself out, here is a picture of a cat to cheer you up.
    img(src='http://www.findcatnames.com/wp-content/uploads/2014/09/453768-cats-cute.jpg')
