//-
//- MAIN NAVIGATION
//- ===============
//-

.main-navigation(id='navigation', role='navigation', aria-label='Primary Navigation')
  .content-center.content-gutter

    nav
      ul
        li
          a(href='/spellings') Spellings
    
