//-
//- MAIN FOOTER
//- ===========
//-

footer.main-footer(role='contentinfo')
  .content-center.content-gutter

    - var year = (new Date()).getFullYear()
    small © #{year} #{config.title} by 
      a(href='mailto:paul@serby.net') Paul Serby
