extend ../style-guide

block content
  h1 Learn Tiger Custom Styles
  .output
    span.correct This is correct&nbsp;
    span.wrong This is wrong

  .desktop-one-half.content-center
    .js-no-mistakes
      iframe(width='100%', height='480', src='https://www.youtube.com/embed/QH2-TGUlwu4?autoplay=1', frameborder='0', allowfullscreen)

    .js-mistakes
      img(src='http://www.findcatnames.com/wp-content/uploads/2014/09/453768-cats-cute.jpg')
