extend /default

block content

  #app
    .prose
    .grid.centered
      .grid__item.one-whole.tablet-one-whole.desktop-one-half
        .prose
          h1 Conkers!
          p Conkers! I’m collecting conkers,
          p I’m trying hard to find the biggest and the best.
          p Conkers! Lots of lovely conkers,
          p I want a conker that is better than the rest.
          hr
          p Under the chestnut tree,
          p There waits for me,
          p A sight so marvellous to behold.
          p Amidst the autumn leaves,
          p It gleams at me,
          p A conker, beautiful and bold.
          hr
          p
             i Conkers...
          hr
          p Under the chestnut tree,
          p Where no-one’s been,
          p The spiky shells lie on the ground.
          p Beneath their armour green,
          p There hides unseen,
          p A conker, smooth and shiny brown.
          hr 
          p 
            i Conkers...
          hr
          p Under the chestnut tree,
          p I stretch to see,
          p A final conker to be mine.
          p If I can only reach,
          p To pull it free,
          p I’ll add it to my ninety-nine! One hundred!
          hr
          p 
            i Conkers...
