extend /default

block content

  #app
    .prose
      h1 Welcome to Learn Tiger
    .grid
      .grid__item.one-whole.desktop-two-thirds
        .prose
          p This is a site I set up to help my daugter Martha with her homework.
          p For now it just has a  
            a(href='/spellings') spellings test game
            |, but I'm in the process of adding a game to test number bonds.

          h2 Browser Support
          p This is personal site and it only works on very new browsers. Chrome, 
            | Safari, Mobile Safari iOS 7+. If you’ve not already, you should 
            a(href='http://www.google.com/chrome/') download Chrome for free.

      .grid__item.one-whole.desktop-one-third
        .prose
          h2 Useful Learning Resources

          p
            a(href='http://www.topmarks.co.uk/maths-games/5-7-years/counting') Topmarks
            |  lots of maths and english games for all age groups.
          p
            a(href='https://www.activelearnprimary.co.uk') Active Learn
            |  is the web resource needed for some weeks' maths homework.
