//
// MAIN NAVIGATION
// ===============
//


.main-navigation
  background-color $color--secondary
  padding 0
  li
    display inline-block

    a
      font-size 0.8em
      +width-min($mq--desktop)
        font-size 0.8em
      display inline-block
      font-weight normal
      padding 0.5em 1em
      margin -1px 0px -1px 0px
      color $color--white
      &:hover
      &:focus
      &:active
        background-color $color--primary
        text-decoration none
