//
// MAIN NAVIGATION
// ===============
//


.main-navigation
  background-color $color--secondary

  li
    display inline-block

    a
      display inline-block
      font-weight normal
      padding 0.5em 1em
      margin -1px 0px -1px 0px
      color $color--white
      &:hover
      &:focus
      &:active
        background-color $color--primary
        text-decoration none
